:root {
    --body-color: rgb(252, 250, 248);
    --logo-bg: rgba(139, 23, 46, 0.612);
    --hover: rgb(61, 75, 121);
    --accent: rgb(210, 41, 74);
    --form-bg: rgb(255, 255, 255);
    --form-text: rgb(80, 80, 80);
    --input-box: rgba(66, 30, 37, 0.612);
  }

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif, system-ui;
    font-size: 16px;
    text-align: left;
    background-color: var(--body-color);
}

button, input {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
  }

#page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    background-color: var(--body-color)
}

#left-header {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    background-image: url(images/pinkguava.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10vw;
    min-height: min-content;
}

#logo-container {
    flex: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--logo-bg);
    color: white;
    padding: 1.75rem 50px;
}

#logo-img {
    width: 7rem;
}

.logo-box {
    display: flex;
}

#logo-text {
    flex: 1;
    font-family: 'Arima', cursive;
    font-size: 3.5rem;
    margin: 0;
}

.footer-container {
    flex: 1;
    display: flex;
    text-align: center;
}

.img-footer {
    color: var(--body-color);
    flex: 1;
    margin-top: auto;
    padding: 10px 0;
    width: 100%;
}

.img-footer>a {
    color: var(--body-color);
    flex: content;
}


#right-header {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copy {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1.75rem;
    width: max(80%, 200px);
}

#copy-container, #submit-container {
    padding: 3rem;
    padding-left: 3.5rem;
}


a {
    font-weight: bold;
    color: var(--accent);
}

.form-container {
    height: min-content;
    width: 100%;
    background-color: var(--form-bg);
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.228);
}

form {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
}


fieldset {
    border: none;
    padding: 0;
    padding-left: 3.5rem;
    margin: 0;
    flex: auto;
}

legend {
    font-size: 1.5rem;
    padding: 0;
    padding-bottom: 2px;
}

p {
    padding: 0;
    margin: 0;
}

.required-notif {
    padding-bottom: 1rem;
}

#form {
    width: max(75%, 200px);
}

ul, li {
    padding: 0;
    margin: 0;
}

ul {
 display: flex;
 flex-wrap: wrap;
}

li {
    list-style: none;
    font-size: 100%;
    color: var(--form-text);
    flex-grow: 1;
}

label {
    display: block;
    padding-bottom: 2px;
}

.required::after{
    content: " *";
    font-weight: bold;
    color: red;
  }

input {
    cursor: text;
    width: 85%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid var(--input-box);
    border-radius: 4px;
    transition: 0.5s;
    outline: none;
}

input:focus {
    border: 2px solid var(--accent);
    box-shadow: 3px 5px 5px rgba(128, 128, 128, 0.228);
}

.error-box {
    padding: 0.8rem 0;
    color: rgb(188, 4, 4);
}

#submit-button {
    cursor: pointer;
    border: 0px;
    border-radius: 0.3rem;
    padding: 0.6rem 1.6rem;
    color: whitesmoke;
    font-weight: bold;
    background-color: var(--accent);
    box-shadow: 3px 5px 5px rgba(128, 128, 128, 0.228);
}

.login {
    padding-top: 1rem;
}